[Desktop Entry]
Name=Examine
Exec=examine %F
Terminal=false
Type=Application
StartupNotify=true
Icon=io.github.cosmic_utils.Examine
Categories=Utility;System;
Keywords=CPU;Processor;Distribution;USB;PCI;Information;System;About;