[Desktop Entry]
Name=Examine
Exec=examine %F
Terminal=false
Type=Application
StartupNotify=true
Icon=io.github.cosmic_utils.Examine
Categories=Utility;System;
Keywords=CPU;Processor;Distribution;USB;PCI;Information;System;About;
Keywords[cs]=CPU;Procesor;Distribuce;USB;PCI;Informace;Systém;Hardware;
Keywords[hu]=CPU;Processzor;Disztribúció;USB;PCI;Információ;Rendszer;Névjegy;
Keywords[uk]=CPU;Процесор;Дистрибутив;USB;PCI;Інформація;Система;
